.recipe-item {
  width: 500px;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.recipe-item-header {
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-name-container {
  flex: 1;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.recipe-details {
  padding: 8px;
  border-top: 1px solid #ccc;
}
