.recipe-item {
  width: 500px;
  padding: 8px 16px;
  overflow: hidden;
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.recipe-item-header {
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-name-container {
  flex: 1;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.recipe-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.recipe-details {
  padding: 8px;
}
