.step-item {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .icon-container {
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
  }
}

p:nth-child(2),
p:last-child {
  font-size: 14px;
  color: lightslategray;
}
