.step-item {
  width: 100%;
  padding: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.step-header {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.drag:hover {
  cursor: grab;
}

.step-columns {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.4fr;
  gap: 10px;
  flex: 1;
}

.step-col {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.step-col.type {
  justify-content: start;
  font-weight: 600;
}

.step-col.coords,
.step-col.pointcloud {
  color: var(--gray-color);
}
